.digitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18px;
}

.deleteButton {
  height: 100%;
  flex: 0 0 auto;
  padding: 0;
  aspect-ratio: 1 / 1;
}

.deleteImage {
  width: 100%;
  height: 100%;
}